# Network configuration - switch between local and devnet
# Local: http://127.0.0.1:8899
# Devnet: https://api.devnet.solana.com
SOLANA_RPC_URL=http://api.devnet.solana.com
PROGRAM_ID=
DATABASE_URL="postgres://postgres:postgres@localhost:5432/SaathiLoan"
PORT=4000
FRONTEND_URL=http://localhost:3000
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=http://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=
NEXT_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_ADMIN_WALLETS=